.dropdown-menu[data-bs-popper] {
    left: inherit;
    right: 0;
}

.css-b62m3t-container {
    width: 40vw;
    max-width: 750px;
}

.navbar {
    z-index: 10;
}

.nav-link,
.navbar-brand {
    color: white;
}

.nav-link:hover,
.nav-link:focus,
.navbar-brand:hover,
.navbar-brand:focus {
    color: lightgray;
}

.avoidnav {
    margin-top: 63px;
    height: 1px;
}

.dropdown-item {
    color: black;
}

@media (max-width: 480px) {
    .col-6 {
        width: 100%;
    }
}
/* 767px */
@media (min-width: 768px) {
    .home {
        display: none;
    }
}

@media (max-width: 767px) {
    .menu {
        position: absolute;
        background: rgba(33, 37, 41, 0.95);
        top: 56px;
        right: 0;
        width: 100%;
        height: 93vh;
    }

    .navbar-nav {
        display: block;
        padding-top: 1rem;
        width: 100%;
        margin-inline: auto;
    }

    .dropdown-menu[data-bs-popper] {
        left: 0;
        right: inherit;
        display: block;
    }

    .nav-link {
        font-size: 24px;
        padding-block: 1rem;
    }

    .nav-item {
        text-align: center;
    }

    .dropdown-menu {
        position: initial !important;
        margin-inline: auto;
        background: transparent;
        border: none;
        margin-top: -1rem !important;
    }

    .dropdown-item {
        color: white;
        justify-content: center;
        gap: 0.5rem;
        font-size: 20px;
    }
}

.mini-search {
    display: none;
}

@media (max-width: 397px) {
    .main-search {
        display: none;
    }

    .mini-search {
        display: block;
    }

    .css-b62m3t-container {
    width: 90vw;
    margin-inline: auto;
}

    .navbar-collapse {
        flex-grow: initial;
    }
}

.timeout{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    opacity: 100% !important;
    animation: linear 3500ms timeoutAnimation;
}

@keyframes timeoutAnimation {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}